@include --update-vars(
  (
    colors: (
      background: #fefefe,
      primary-1: #09725b,
      primary: #0f9e7f,
      secondary-1: #990643,
      secondary: #d8055d,
      text: #141414,
      dark: #101010,
      dark1: #242424,
    ),
    breakpoints: (
      s: 480px,
      m: 768px,
      l: 1024px,
    ),
    gaps: (
      2: 0.5em,
      3: 1em,
      4: 1.5em,
      5: 2em,
      6: 4em,
    ),
    font-families: (
      main: 'Be Vietnam Pro,  sans-serif',
    ),
  )
);

@debug $asterix-vars;
