@import "tailwindcss";

@theme inline {
  --font-display: var(--font-nunito-sans), sans-serif;
  --font-mono: var(--font-dm-mono), monospace;

  --color-background-base: var(--color-stone-200);
  --color-background-darken: var(--color-50);
  --color-background-lighten: var(--color-stone-50);
  --color-foreground: var(--color-stone-800);
  --color-accent: var(--color-teal-500);

  --text-h1: min(max(2.5rem, 4cqw), 5rem);
}

@layer components {
  .container {
    @apply mx-auto w-full max-w-[80rem];
    padding-inline: max(1.5rem, 5cqw);
  }

  .shadow-neumorphic {
    @apply relative;
    box-shadow: -0.25rem -0.25rem 1rem rgba(255, 255, 255, 0.95),
      0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.2);

    &:not(:empty)&:after {
      content: "";
      @apply absolute inset-0 rounded-full z-10;
      box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.25);
    }
  }
}

body {
  @apply bg-background-base text-foreground font-display;
}
